@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
  --clr-dark: #262523;
  --clr-light: #efefef;
  --clr-primary: #ef9651;
  --clr-secondary: #3f7d58;
  --clr-accent: #31363F; 

  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

*,
*::after,
*::before {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Serif 4", serif;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

p, li {
  font-family: "Source Serif 4", serif;
}

h1, h2, h3, h4 {
  font-family: "Oswald", sans-serif;
}

a {
  color: var(--clr-primary);
} 

li {
  list-style: none;
  cursor: pointer;
}

/* Homepage styles declarations */
.homepage__container {
  margin: var(--size-6xl) 112px 0 112px;
}

.hero__header {
  font-size: var(--size-5xl);
  width: 550px;
}

.hero__description {
  font-size: var(--size-xl);
  width: 550px;
}

.hero__cta-btn {
  font-size: var(--size-xl);
  background-color: var(--clr-secondary);
  padding: 16px 32px 16px 32px;
  margin-top: var(--size-5xl);
}

.hero__tex-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Menu page style declarations */
.menu__page-container {
  display: flex;
  margin: var(--size-4xl) 112px 0 112px;
  flex-direction: column;
  gap: var(--size-2xl);
}

.menu__text {
  font-size: var(--size-4xl);
}

.menu__container {
  border: 1px solid red;
  width: 60%;
}

.card__container {
  border: 1px solid blue;
  display: flex;
}